html, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #dddddd;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 30px auto;
}
.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 15px;
    border-radius: 5px;  
    background: #7efdc6;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 10px 0;
  }
  .title {
    text-align: center;
    margin: 20px;
}

label {
    
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height:100px;
    width: 100%;
    background-color: #c7c8c7;
    margin-bottom: 25px;
}